testTaskJuniorDevSwift/testTaskJuniorDevSwift.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad
testTaskJuniorDevSwift/testTaskJuniorDevSwift.xcodeproj/xcuserdata/artem.xcuserdatad/xcdebugger
xcschememanagement.plist
test.swift
